<router-outlet></router-outlet>
<div class="parent">
  <h2>Parent Component</h2>
  <div>
    First Number : <input [(ngModel)]="num1" /> <br/><br/>
    Second Number: <input [(ngModel)]="num2" /> <br/>
    <br/>
    <label for="status">Status: </label>
    <select [(ngModel)]="type" class="form-control" (change)='onOptionsSelected($event)'>
      <option value="">Select</option>
      <option value="add">Addition</option>
      <option value="sub">Subtraction</option>
      <option value="mul">Multiplication</option>
      <option value="div">Division</option>
      </select>
    <p *ngIf="result">Result: {{result}}</p>	
</div>
</div>
<app-form 
  [num1]="num1" 
  [num2]="num2"  
  (addNumEvent) = "printSum($event)"
  [type]="type" 
></app-form>